.app {
  background: #2090ce;
    padding: 30px;
    height: 100vh;
}
.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}
.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgb(0,0,0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  width: 394px;
  box-shadow: 1px 1px 1px rgb(0,0,0.1) inset;
}
.removeTodo {
  margin-right: -10px;
  border: none;
}
button:focus, input:focus {
  outline:0;
}
.selectedTodo {
  border: 1px solid black;
  font-size: 12px;
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  min-height: 11px;
  min-width: 383px;
}
